.center-box {
    background-color: whitesmoke;
    width: 40%;
    text-align: center;
    border-radius: 1rem;
    padding: 3rem;
}

@media (max-width: 720px) {
  /* For screens 720px wide or less */
  .center-box {
    width: 60%;
  }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.textbox {
    border-radius: 5px;
    border-width: 2px;
    width: 100%;
    height: 2rem;
    border-color: #9CA3AF;
    border-style: solid;
}

.liczby {
    margin: 0px;
}
