img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

p, table  {
    position: absolute;
}

#mojhtml {
  position: relative;
  width: 1100px;
  height: 1100px;
  overflow: hidden;
  border-radius: 10px;
}

#sprzedawca {
  top: 45px;
  left: 120px;
}

#adressprzedawcy {
  top: 110px;
  left: 100px;
}

#nip {
  top: 175px;
  left: 90px;
}

#tabelka {
  top: 450px;
  left: 30px;
}

#sumazl {
  top: 950px;
  left: 700px;
}

#sumagr {
  top: 950px;
  left: 755px;
}

td {
    /* background-color: red; */
    height: 28px;
}

#tnr {
    width: 15px;
}

#tprodukt {
    width: 280px;
}

#tpodstawa {
    width: 150px;
}

#til {
    width: 65px;
}

#tcenazl {
    width: 65px;
}
#tcenagr {
    width: 40px;
}

#twartosczl {
    width: 75px;
}
#twartoscgr {
    width: 40px;
}
